body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100vh;
  align-items: center;
  background-color: rgb(209, 209, 222);
  margin: 0;
  padding: 20px;
}
.profile-card {
  display: flex;
  border-radius: 12px;
  box-shadow: 0 8px 24x rgba(0, 0, 0, 0.1);
  max-width: 550px;
  width: 100%;
}
.profile-sidebar {
  background-color: #0f2eca;
  padding: 30px;
  text-align: center;
  color: rgb(233, 219, 219);
}
.profile-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid yellow;
  margin-bottom: 15px;
}
.profile-main {
  padding: 30px;
  background-color: rgb(243, 224, 221);
}
h2 {
  margin: 10px;
}
.job-title {
  font-size: 18px;
}
.company {
  font-weight: bolder;
  color: orange;
}
.bio {
  font-size: 18px;
  color: rgb(214, 135, 32);
  margin-bottom: 15px;
}
.contact-info {
  font-size: 15px;
  color: rgb(135, 142, 222);
  margin-top: 15px;
}
.social-links {
  margin-bottom: 20px;
  gap: 15px;
  display: flex;
  justify-content: center;
}
.social-links a {
  color: #0f2eca;
  font-size: 20px;
}

.social-links a:hover {
  color: #c00e26;
  font-size: 20px;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.skill {
  background-color: #3ad214;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 13px;
}
.cta-button {
  margin-top: 20px;
  padding: 15px 20px;
  background-color: #0f2eca;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}
.cta-button:hover {
  background-color: #c00e26;
}
